{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
  <div class="text">
    <h1>About Me</h1>
    <span>This is what I do.</span>
  </div>
</div>
<div class="container">
  <div class="text">
    <h5>
      Greetings! My name is Nerijus. I am working as a Junior Data Analyst and studying IT for Bachelor's degree.
      In addition to all of that, I am deepening my professional expertise further, by focusing on mastering ML and DL with Python.
    </h5>
  </div>
</div>

{% endblock %}

