{% extends "base.html" %}

{% block title %}Collaborate{% endblock %}

{% block content %}
        <div class="container">
            <div class="text">
                <h1>Collaborating</h1>
                <ol>
                    <li><a href="https://github.com/nerkyzas157?tab=repositories">Visit my GitHub repositories</a></li>
                    <li>Choose repository of your liking.</li>
                    <li>Fork a Repository: You'll need to make a copy of the repository under your own GitHub account.</li>
                    <li>Clone It Locally: Next, download that repository to your local computer using Git.</li>
                    <li>Create a Branch: Create a new branch where you'll make your changes.</li>
                    <li>Make Changes: Edit the files as needed and commit your changes to that branch.</li>
                    <li>Push the Branch: Upload your branch back to GitHub.</li>
                    <li>Create a Pull Request: Finally, open a pull request to propose merging your changes into the main repository.</li>
                    <li>I will review your pull request and merge it if everything looks good.</li>
                </ol>
            </div>
        </div>
{% endblock %}

