{% extends "base.html" %}

{% block title %}{{ learning.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="text">
        <div class="title-container">
            <h1>{{ learning.title }}</h1>
            <a href="{{ learning.github_url }}" class="big-button">
                <img src="{{ url_for('static', filename='assets/github_logo.png') }}" style="width: 100px; height: 100px;" alt="GitHub Logo" class="button-logo">
                <span>Visit Repository</span>
            </a>
        </div>
        <h2>{{ learning.subtitle }}</h2>
        
        {% if current_user.is_authenticated %}
        <div class="button-container">
            <a href="{{ url_for('edit_project', id=learning.id, learn=True) }}" class="button">Edit Topic</a>
            <a href="{{ url_for('delete_project', id=learning.id, learn=True) }}" class="button">Delete Topic</a>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="text">
        {{ readme|safe }}
    </div>
</div>
{% endblock %}